---
layout: page
title: "About"
description: "Hey, this is MY."
header-img: "img/post-bg-dsc1.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>把握方向<br>
    定位人生</p></blockquote>

    <p>Hey，我是<strong>马亿(MY)</strong>，在天津大学智能与计算学部读博，师从郝建业教授，研究兴趣为强化学习与多智能体系统。</p>
    <p>学习之余，我还是一个体育爱好者，我喜欢跑步、定向越野、篮球等许多运动。</p>
    <p></p>
    
    
    
    <h5>Papers</h5>
    
    <ul>
        <li><a href="https://arxiv.org/abs/2005.04355">Dynamic Knapsack Optimization Towards Efficient Multi-Channel Sequential Advertising</a><p>ICML 2020</p><p>Xiaotian Hao(Equal Contribution), Zhaoqing Peng(Equal Contribution), <b>Yi Ma(Equal Contribution)</b>, Guan Wang, Junqi Jin, Jianye Hao, Shan Chen, Rongquan Bai, Mingzhou Xie, Miao Xu, Zhenzhe Zheng, Chuan Yu, Han Li, Jian Xu, Kun Gai. </p></li>
        <li><a href="https://arxiv.org/abs/2005.04355">Learning to Accelerate Heuristic Searching for Large-Scale Maximum Weighted b-Matching Problems in Online Advertising</a><p>IJCAI 2020</p><p>Xiaotian Hao, Junqi Jin, Jin Li, Weixun Wang, <b>Yi Ma</b>, Jianye Hao, Zhenzhe Zheng, Han Li, Jian Xu, Kun Gai. </p></li>
        <li><a href="https://arxiv.org/abs/2002.07418v1">KoGuN: Accelerating Deep Reinforcement Learning via Integrating Human Suboptimal Knowledge</a><p>IJCAI 2020</p><p>Peng Zhang, Jianye Hao, Weixun Wang, Hongyao Tang, <b>Yi Ma</b>, Yihai Duan, Yan Zheng. </p></li>
        <li><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=8983330">Integrating Sequence and Network Information to Enhance Protein-Protein Interaction Prediction Using Graph Convolutional Networks</a><p>BIBM 2019</p><p>Leilei Liu(Equal Contribution), <b>Yi Ma(Equal Contribution)</b>, Xianglei Zhu, Yaodong Yang, Xiaotian Hao, Li Wang, Jiajie Peng.</p></li>
        <li><a href="https://arxiv.org/abs/1907.08990">Spectral-based Graph Convolutional Network for Directed Graphs</a><p>Arxiv 2019</p><p><b>Yi Ma</b>, Jianye Hao, Yaodong Yang, Han Li, Junqi Jin, Guangyong Chen.</p></li>
    </ul>
    
    <h5>Internships</h5>
    
    <ul>
        <li><p>2020.05至今，华为2012实验室-诺亚方舟实验室-决策推理实验室，实习技术研究工程师</p></li>
        <li><p>2019.07-2020.03，阿里集团-阿里妈妈事业部-营销技术中心-定向技术部，实习算法工程师</p></li>
    </ul>
    <h5>Contacts</h5>
    
    <ul>
        <li>Email: mayi@tju.edu.cn</li>
<!--         <li><a href="https://www.facebook.com/profile.php?id=100025198301986">Facebook</a></li>
        <li><a href="https://www.zhihu.com/people/ma-yi-24-28-45/activities">知乎</a></li> -->
        <li><a href="http://www.escience.cn/people/jianye/zwjj.html">郝建业教授主页</a></li>
        <li><a href="http://www.icdai.org/">实验室主页</a>
        <li><a href="https://mayi1996.top/resume.pdf">Resume</a></li>
        <li><a href="https://scholar.google.com.hk/citations?user=TdVWzqgAAAAJ&hl=en">Google Scholar</a></li>
    </ul>
    
    
</div>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>

    <p>Hi, I am <strong>Baiying Qiu</strong>，you can call me <strong>BY</strong>. I am an iOS software engineer and currently working in Xiamen</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/qiubaiying">Github·BY</a>.</p>
    
    <p>I am a sports enthusiast, I like fitness, running and boxing.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://qiubaiying.github.io">BY</a></li>
    </ul>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

